* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: #245076;
  width: 970px;
  height: 1000px;
}
.header {
  padding: 15px;
  display: inline-block;
}
.header img {
  width: 300px;
  margin-left: 35px;
}
.search p {
  padding-right: 50px;
  color: #dde3e9;
}
.search a {
  color: #b6a211;
}
.search span {
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}
.search {
  display: inline-block;
  text-align: right;
  width: 580px;
  vertical-align: top;
}
.search div {
  text-align: center;
  background-color: #444444;
  padding: 15px;
  width: 300px;
  border-radius: 15px;
  display: inline-block;
  margin: 10px;
}
.button {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: #245076;
  color: white;
}
.text_input {
  height: 40px;
  border: 2px solid gray;
}
.navbar {
  background-color: #467ead;
  width: 0 auto;
  height: 0 auto;
  margin: 20px 50px 0 120px;
  border-radius: 10px;
}
.navbar a {
  text-decoration: none;
  color: #e5edf3;
  padding: 15px 20px 15px;
  display: inline-block;
  font-size: 22px;
}
.infonavbar {
  width: 200px;
  height: 400px;
  margin-left: 130px;
  color: #b6a211;
  padding: 30px;
  text-align: center;
  display: inline-block;
}
.infonavbar li {
  margin: 15px;
}
.infonavbar a {
  color: white;
  font-size: 22px;
}
.content {
  display: inline-block;
  width: 500px;
  vertical-align: top;
  text-align: center;
}
.content p {
  color: white;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.yellow p {
  color: #b6a211;
  padding: 5px;
  font-size: 22px;
}
.yellow span {
  color: #e5edf3;
}
.downbar {
  background-color: #fff;
  width: 970px;
  height: 0 auto;
  padding: 15px;
  display: inline-block;
  text-align: center;
}
.downbar div {
  width: 400px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.downbar div h2 {
  margin: 15px 15px 0 15px;
  padding: 15px;
  border-top: 6px solid #73a7d5;
}
.downbar div p {
  font-size: 18px;
  padding: 0 20px 0 20px;
  width: 300px;
  margin-left: 80px;
}
.downbar div a {
  font-size: 18px;
  padding: 20px;
  width: 300px;
  padding: 10px;
  color: #a4c6e3;
}
.downbar div li {
  padding: 5px;
  margin-left: 125px;
  width: 300px;
}
.footer {
  background-color: #245076;
  height: 0 auto;
  width: 970px;
  text-align: center;
  padding-top: 50px;
}
.footer a {
  font-size: 22px;
  padding: 15px;
  color: #7cafdb;
  text-decoration: none;
}
.footer p {
  margin-top: 15px;
  color: #7cafdb;
}
